/***********404**********/
.error-page {
    margin: 100px 0 40px;
    text-align: center;
}
.error-page__header-image {
    width: 210px;
}
.error-page__title {
    font-size: 25px;
    color: rgba(42,55,68,.7);
    font-weight: normal;
}
.error-page__subtitle {
    font-size: 15px;
    color: rgba(42,55,68,.7);
    font-weight: normal;
    margin-top: 0;
}
.error-page__subtitle a {
    color: rgba(42,55,68,.7);
    text-decoration: none;
    font-weight: bold;
}
.error-page__message {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 30px 0 35px 0;
    line-height: 40px;
}
@media (max-width:767px) {
    .error-page {
        margin: 0 0 40px;
    }
    .error-page__title {
        font-size: 22px;
    }
    .error-page__subtitle {
        font-size: 12px;
    }
    .error-page__message {
        font-size: 25px;
        margin: 30px 0 35px 0;
        line-height: 40px;
    }
}

/*********** GENERAL **********/
.mr-icon{
    margin-right: 5px;
}
.ml-icon{
    margin-left: 5px;
}
body
{
    background-color: rgb(250, 242, 226);
    height: 100%;
    margin: 0;
}

*, p {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
    transition:         all 0.2s ease;
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #204689;
    border: 1px solid #fcfafa;
}

.fa-history{
    color: white;
    margin-right: 5px;
}

.fa-history:hover{
    color: rgb(8, 132, 235);
    cursor: pointer;
}


.fa-cog{
    color: white; 
    margin-right: 5px;
}

.fa-cog:hover{
    color: rgb(8, 132, 235);
    cursor: pointer;
}


.display-4{
    font-weight: 500;
}
    /* FLASH */
.alert{
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    text-align: center;
    z-index: 1000;
    border-radius: 0;
}
.alert-succes{
    background-color: #02B875;
}

.alert-danger{
    background-color: #d9534f;
}

html{
    scroll-behavior: smooth; /* not working ? */
}
nav{
    z-index: 9999;
    /*visibility: hidden;*/
}
textarea{
    /* resize : vertical!important; */
    resize: none;
}

footer{
    border-top: solid #3E3F3A 1px;
    height: 50px;
    background-color: #8E8C84;
    line-height: 50px;

    position: absolute;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a, a:hover{
    text-decoration: none;
    color: #3E3F3A;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#3E3F3A;
    height: 1px;
}
.center-text{
    text-align: center;
}
.title-page{
    margin-top: 100px;
}

/******** END GENERAL ************/
/*------------------------------------------------------------------------------------------------------------------*/
/* Index */

.indexLogo {
    filter: invert(1);
    width: 40vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indexPostCard{
    display: flex;
    position: relative;
}

.card-body {
    margin-bottom: 20px;
}

.bottom-card-index{
    position: absolute;
    bottom: 1%;
}

.controls-top>*{
    display: inline-block;
}

input[type="text"]:disabled {
    text-align: center;
    font-weight: bold; 
}

.carousel-item>.row>*>.card
{
    margin-bottom: 10px;
}

.input-group-prepend {
    margin-right: -4px;
}

.card-body>i, h3{
    display: inline-block;
}

/******** TAG *********/
.card-btn-block{
    position: absolute;
    bottom: 3%;
    left: 6%;
    right: 6%;
}
#title-every-post{
    top: 27%;
    position: relative;
}
/******* ARTICLE **********/
.autheur{
    /*margin-top: -55px;*/
}
.article{
    text-align: justify;
}
/* .links{

} */
.commentaires{
    margin-top: 50px;
}
.reaction-banner{
    margin-top: 25px;
}
.comment-success{
    box-shadow: 0 0 0 0.2rem rgba(140, 193, 148, 0.6);
    transition: ease-in 1s;
}
.comment-error{
    box-shadow: 0 0 0 0.2rem rgba(221, 113, 113, 0.6);
    transition: ease-in 1s;
}
.login-to-comment{
    border: 2px #3E3F3A solid;
    border-radius: 5px;
    padding: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.no-comment{
    text-align: center;
    margin-bottom: 35px;
}
.x-icon{
    margin-left: 20px;
}
.edit-banner{
    margin-bottom: 10px;
    margin-top: -15px;
}
.icon-button:hover{
    cursor: pointer;
}
.like:hover{
    color: #325D88;
}
.liked{
    color: #325D88;
}
.ban:hover, .delete:hover{
    padding: 5px;
    color: #d9534f;
    border: 1px solid #d9534f;
    border-radius: 5px;
}
.edit:hover{
    padding: 5px;
    color : #29ABE0;
    border: 1px solid #29ABE0;
    border-radius: 5px;
}
.post-image{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px;
}
.single-com ~ .single-com{
    border-top: 1px gray solid;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* EXTRANET */
/******** LOGIN ************/
.formAdmin{
    border-radius: 5px;
    border: 2px solid #49617570;
    padding: 30px 30px 10px 30px;
}
/******** GESTION POST *********/
.card-news-max-height{
    max-height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-img-top{
    height: 300px;
    max-height: 30rem; 
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .card-news-max-height1{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .card-news-max-height4{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
.card-btn-right{
    width: 40%;
    position: absolute;
    right: 5%;
    bottom: 3%;
}
.card-btn-left{
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: 3%;
}
.card-height{
    height: 540px;
}
.card-style{
    border: 1px solid #8E8C84;
}
.card-style:hover{
    cursor : pointer;
    /*transition-duration: 1s;*/
    box-shadow: 1px 1px 2px 2px #325D8880;
}
.card-body-style{
    border-top: 1px solid #3E3F3A;
}
p.tagPost{
    display: none;
}
#searchbarPost{
    border-width: 2px;
    margin-top: 25px;
    margin-bottom: 35px;
}
#formPhoto{
    margin-top: 0px;
}
.secondary-title{
    margin-top: 30px;
    margin-bottom: 50px;
}
.img-update{
    border-color: #3E3F3A;
    border-width: 2px;
    border-style: solid;
}

textarea#newPostText{
    opacity: 1;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

/****** Bouton upload fichiers ******/
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.custom-file-upload:hover{
    background-color: gray;
    color: white;
}


/** gestion user **/
.deleteUser
{
    color: red;
    font-weight: bold;
}

/*** historique ***/
.fixHead { 
    overflow-y: auto; 
    max-height: 320px;
}

.fixHead a:hover{
    text-decoration: underline;
}

.fixHead i{
    margin-left : 15px;
    max-width:calc(100% - 200px);
}

#accordionExample h5{
    text-align: center;
}

#accordionExample .btn-link{
    color: #3E3F3A;
}


