/***********404**********/
.error-page {
    margin: 100px 0 40px;
    text-align: center;
}
.error-page__header-image {
    width: 210px;
}
.error-page__title {
    font-size: 25px;
    color: rgba(42,55,68,.7);
    font-weight: normal;
}
.error-page__subtitle {
    font-size: 15px;
    color: rgba(42,55,68,.7);
    font-weight: normal;
    margin-top: 0;
}
.error-page__subtitle a {
    color: rgba(42,55,68,.7);
    text-decoration: none;
    font-weight: bold;
}
.error-page__message {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 30px 0 35px 0;
    line-height: 40px;
}
@media (max-width:767px) {
    .error-page {
        margin: 0 0 40px;
    }
    .error-page__title {
        font-size: 22px;
    }
    .error-page__subtitle {
        font-size: 12px;
    }
    .error-page__message {
        font-size: 25px;
        margin: 30px 0 35px 0;
        line-height: 40px;
    }
}

/*********** GENERAL **********/
.mr-icon{
    margin-right: 5px;
}
.ml-icon{
    margin-left: 5px;
}
body
{
    background-color: white;
    height: 100%;
    margin: 0;
}

*, p {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
    transition:         all 0.2s ease;
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #204689;
    border: 1px solid #fcfafa;
}
.display-4{
    font-weight: 500;
}
    /* FLASH */
.alert{
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    text-align: center;
    z-index: 1000;
    border-radius: 0;
}
.alert-succes{
    background-color: #02B875;
}

.alert-danger{
    background-color: #d9534f;
}

html{
    scroll-behavior: smooth; /* not working ? */
}
nav{
    z-index: 9999;
    /*visibility: hidden;*/
}
textarea{
    resize : vertical!important;
}
footer{
    border-top: solid #3E3F3A 1px;
    height: 50px;
    background-color: #8E8C84;
    line-height: 50px;

    position: absolute;
    position: fixed;
    width: 100%;
    bottom: 0;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#3E3F3A;
    height: 1px;
}
.center-text{
    text-align: center;
}
.title-page{
    margin-top: 100px;
    margin-bottom: 50px;
}

/******** END GENERAL ************/
/*------------------------------------------------------------------------------------------------------------------*/
/* Index */
.carousel-item>.row>*>.card
{
    margin-bottom: 10px;
}

.input-group-prepend {
    margin-right: -4px;
}

body{
    background-color: rgb(250, 242, 226);
}
/* style des publications */
.card#indexPost{
    width: 60%; 
    margin: auto; 
    margin-top: 15px; 
    margin-bottom:15px;
}

.card#indexPost>img{
    max-height: 25rem; 
    object-fit: cover;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .card#indexPost{
        width: 90%; 
        margin: auto; 
        margin-top: 15px; 
        margin-bottom:15px;
    }

    .card#indexPost>img{
    max-height: 15rem; 
    object-fit: cover;
    }
}
.card-body>i, h3{
    display: inline-block;
}
/******** TAG *********/
.card-btn-block{
    position: absolute;
    bottom: 3%;
    left: 6%;
    right: 6%;
}
#title-every-post{
    top: 27%;
    position: relative;
}
/*------------------------------------------------------------------------------------------------------------------*/
/* EXTRANET */
/******** LOGIN ************/
.formAdmin{
    border-radius: 5px;
    border: 2px solid #49617570;
    padding: 30px 30px 10px 30px;
}
/******** GESTION POST *********/
.card-news-max-height{
    max-height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-img-top{
    height: 225px;
    max-height: 25rem; 
    object-fit: cover;
}

.card-news-max-height1{
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-news-max-height2{
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-news-max-height3{
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-news-max-height4{
    margin-bottom: 15px;
    margin-top: 15px;
}


@media all and (max-width: 768px) {
    .card-news-max-height1{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .card-news-max-height4{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
.card-btn-right{
    width: 40%;
    position: absolute;
    right: 5%;
    bottom: 3%;
}
.card-btn-left{
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: 3%;
}
.card-height{
    height: 440px;
}
.card-style{
    border: 1px solid #8E8C84;
}
.card-style:hover{
    cursor : pointer;
    /*transition-duration: 1s;*/
    box-shadow: 1px 1px 2px 2px #325D8880;
}
.card-body-style{
    border-top: 1px solid #3E3F3A;
}
p.tagPost{
    display: none;
}
#searchbarPost{
    border-width: 2px;
    margin-top: 25px;
    margin-bottom: 35px;
}
#formPhoto{
    margin-top: 0px;
}
.secondary-title{
    margin-top: 30px;
    margin-bottom: 50px;
}
.img-update{
    border-color: #3E3F3A;
    border-width: 2px;
    border-style: solid;
}
/****** Bouton upload fichiers ******/
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.custom-file-upload:hover{
    background-color: gray;
    color: white;
}


/** gestion user **/
.deleteUser
{
    color: red;
}